<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.capstoneemissioncarbon">

    <!-- Izin untuk mengakses Internet, diperlukan untuk API dan jaringan -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Izin untuk akses Kamera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Izin untuk akses penyimpanan eksternal -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />


    <!-- Deklarasi fitur kamera -->
    <!-- Jika aplikasi wajib menggunakan kamera, gunakan required="true" -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="AWAIR"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneEmissionCarbon"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">

        <!-- SplashScreenActivity sebagai aktivitas pertama yang diluncurkan -->
        <activity
            android:name=".ui.sign.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


        <!-- LoginActivity untuk halaman login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <!-- SignupActivity untuk halaman pendaftaran akun -->
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <!-- MainActivity akan digunakan setelah pengguna login/signup -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <!-- ForgotPasswordActivity untuk halaman reset password -->
        <activity
            android:name=".ui.sign.ForgotPasswordActivity"
            android:exported="true"
            android:label="@string/forgot_password_label" />

    </application>

</manifest>
